@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Que dice loco?!</h1>
    <p>Hi my friend! This is a great chatroom place to be chill and share your thoughts.</p>
</div>
